body {
    overflow: hidden;
}

#titleBox {
    margin-top: -30px;
    margin-left: 120px;
    background-color: black;
    color: white;
    padding: 30px;
    padding-top: 40px;
    font-size: 40px;
    width: fit-content;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: inset 5px 5px 10px 4px rgba(255, 255, 255, 0.200);
}   

#hbox {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

#sicon {
    margin-top: 15px;
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
}

#mbox {
    margin-top: 100px;
    padding: 100px;
    margin-left: 85px;
    display: flex;
    z-index: 10000;
    position: relative;
    z-index: 0;
    transition: transform 0.3s ease-out; 
    will-change: transform;
}

.metal {
    transition: 0.2s;
    margin-top: 0px;
    margin-left: 25px;
    background: linear-gradient(135deg, #818181 0%, #686868 100%);
    padding: 10px;
    width: 50px;
    height: 7vh;
    position: relative;
    z-index: 1000;
    display: flex;
    box-shadow: inset 5px 5px 15px 5px rgba(255, 255, 255, 0.205);
}



.plastic {
    vertical-align: middle;
    display: table-cell;
    text-align:center;
    transition: 0.2s;
    margin-top: 0px;
    margin-right: 200px;
    background: linear-gradient(135deg, #2b2b2b 0%, #000000 100%);
    padding: 10px;
    width: 100px !important;
    height: 20vh;
    border-radius: 5px 5px 25px 25px;
    color: white;
    z-index: 1000;
    position: relative;
    box-shadow: inset 5px 5px 15px 5px rgba(255, 255, 255, 0.205);
}


.delete {
    background-color: red !important;
    color:red;
}

.key {
    width: 100px;
    overflow-wrap: break-word;
}

.modal {
	display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
}

.modal .modal_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
    width: 40%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;

}

.close_btn {
    font-size: 30px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    transition: 0.1s;
}

.close_btn:hover {
    transition: 0.1s;
    scale: 1.05;
}

h1 {
    margin-top: 10px;
    font-size: 80px;
}

h3 {
    font-size: 50px;
    font-weight: 300;
}

#settingbox {
    width: 100px;
    padding-right: 150px;
}

#mehole1 {
    margin-top: 10px;
    background-color: #2b2b2b;
    width: 18px;
    height: 20px;
    margin-right: 8px;
    box-shadow: inset 0 0 10px #000000;
}

#meline{
    margin-top: -10px;
    background-color: #2b2b2b;
    width: 2px;
    height: 200px;
}

#mehole2 {
    margin-top: 10px;
    background-color: #2b2b2b;
    width: 18px;
    height: 20px;
    margin-left: 8px;
    box-shadow: inset 0 0 10px #000000;
}

#LR{
        display:none;
    }
#UU{
        display:none;
    }

    .mob {
        display: none;
    }

@media screen and (max-width: 768px) {
    #kkk {
        display: none;
        
    }
    .mob {
        font-weight: 700px;
        font-size: 30px;
        display: block;
        word-break: keep-all;
    }
}