#titleBox {
    margin-top: -30px;
    margin-left: 120px;
    background-color: black;
    color: white;
    padding: 30px;
    padding-top: 40px;
    font-size: 40px;
    width: fit-content;
    border-radius: 20px;
    font-weight: 600;
}   

#hbox {
    display: flex;
    justify-content: space-between;
}

#sicon {
    margin-top: 15px;
    width: 80px;
    margin-right: 120px;
}

#mbox {
    padding: 100px;
    margin-left: 85px;
    display: flex;
    z-index: 10000;
}

.metal {
    transition: 0.2s;
    margin-top: 0px;
    margin-left: 25px;
    background-color: rgb(155, 155, 155);
    padding: 10px;
    width: 50px;
    height: 60px;
    position: relative;
    z-index: 1000;
}

.plastic {
    transition: 0.2s;
    margin-top: 0px;
    margin-right: 200px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 100px;
    height: 200px;
    border-radius: 0px 0px 25px 25px;
    color: white;
}

#btn {
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 30px;
}