body {
    overflow: hidden;
}

#titleBox {
    margin-top: -30px;
    margin-left: 120px;
    background-color: black;
    color: white;
    padding: 30px;
    padding-top: 40px;
    font-size: 40px;
    width: fit-content;
    border-radius: 20px;
    font-weight: 600;
}   

#hbox {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

#sicon {
    margin-top: 15px;
    width: 80px;
    margin-right: 120px;
}

#mbox {
    margin-top: 100px;
    padding: 100px;
    margin-left: 85px;
    display: flex;
    z-index: 10000;
    position: relative;
    z-index: 0;
    transition: transform 0.3s ease-out; 
    will-change: transform;
}

.metal {
    transition: 0.2s;
    margin-top: 0px;
    margin-left: 25px;
    background-color: rgb(155, 155, 155);
    padding: 10px;
    width: 50px;
    height: 60px;
    position: relative;
    z-index: 1000;
}

.plastic {
    vertical-align: middle;
    display: table-cell;
    text-align:center;
    transition: 0.2s;
    margin-top: 0px;
    margin-right: 200px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 100px !important;
    height: 200px;
    border-radius: 0px 0px 25px 25px;
    color: white;
    z-index: 1000;
    position: relative;
}

#btn {
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 30px;
}

.delete {
    background-color: red !important;
    color:red;
}

.key {
    width: 100px;
    overflow-wrap: break-word;
}

.modal {
/*팝업 배경*/
	display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}

.active {
    display: block;
}

.modal .modal_popup {
/*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}