#titleBox {
    margin-top: -30px;
    margin-left: 120px;
    background-color: black;
    color: white;
    padding: 30px;
    padding-top: 40px;
    font-size: 40px;
    width: fit-content;
    border-radius: 20px;
    font-weight: 600;
}   

#hbox {
    display: flex;
    justify-content: space-between;
}

#sicon {
    margin-top: 15px;
    width: 80px;
    margin-right: 120px;
}